table {
    border-collapse: collapse;
    background-color: white;
}

body {
    background-color: rgb(212, 212, 212);
    position: relative;
    height: 100%;
    width: 100%;
}

header {
    text-align: center;
    padding: 5px;
    background-color: rgb(141, 141, 141);
    border-bottom: solid;
    border-color: darkslategrey;
}

main {
    padding-bottom: 70px;
}

.footer {
    background-color: rgb(141, 141, 141);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    border-top: solid;
    border-color: darkslategrey;  
}

.blank-spot {
    border: solid;
    border-color: red;
}

#warning {
    text-align: center;
    color: red;
}

.title {
    font-weight: bold;
    margin-right: 5px;
}

table {
    text-align: center;
}

.table-responsive {
    margin-bottom: 0;
}

tr, th, td {
    border: solid;
}

tr th {
    background-color: gray;
}

.normal-operation {
    background-color: darkseagreen;
}

.parcial-operation {
    background-color: gold;
}

.no-operation {
    background-color: indianred;
}

.table td, .table th {
    padding: .35rem;
}

.row {
    padding-top: 10px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box p {
    margin-bottom: 0px;
}

.station-input {
    margin-top: 20px;
}

.answer-inputs,
.answer-way {
        margin-top: 20px;
}

.bold {
    font-weight: bold;
}

#map {
    width: 50%;
    height: 300px;
    border: solid;
    border-color: black;
}

#routeList ol {
    display: list-item;
    list-style-position: inside;
    list-style: decimal;
}