body {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

table {
    border-collapse: collapse;
}
tr, th, td {
    border: solid;
}

header {
    padding: 2%;
    background-color: aquamarine;
}
.stations {
    padding-top: 10px;
}

.station-input {
    margin-top: 20px;
}

.answer-inputs,
.answer-way {
        margin-top: 20px;
}

.bold {
    font-weight: bold;
}